.calendar-tools .calendar-tools-dropdown {
  /* background-color: rebeccapurple;
  color: red; */
}

.css-yk16xz-control {
  border: 3px solid #17a2b8 !important;
}

.css-1uccc91-singleValue {
  /* color: greenyellow !important; */
}

.calendar table .event.event-short {
  background-color: transparent;
  color: #000;

}

td {
  height: 50px;
}

td:hover {
  background-color: rgba(197, 222, 228, 0.7);
  color: #1266F1;
}


.calendar-tools-arrows,
.calendar-tools-today {
  border-width: 3px !important;

}



.table {}

.calendar-tools-date {
  font-size: 1.1rem;
}

.calendar {
  font-size: .9rem;
}

.calendar table.month td {
  padding-top: 20px;
}

.calendar table td.disabled {
  color: #9a9a9a;
}

.calendar table td {
  border: 1 px solid #ddd;
  position: relative;
  vertical-align: top;
}

.calendar table td .day-field {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: .8rem;
}

.calendar table .event {
  padding: 1px 5px;
  background-color: royalblue;
  color: #fff;
  width: 100%;
  font-size: .7rem;
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
  transition: opacity .2s;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .calendar-tools-date {
    font-size: 0.1rem;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}